{% extends "network/layout.html" %}

{% block body %}
    <h1>all posts</h1>
    {% if user.is_authenticated %}
      <br>
        <h2 class="new-posts my-3 mx-5">new post</h2>
        <form action="{% url 'newPost' %}" method="post" class="my-3 mx-5">
            {% csrf_token %}
            <textarea name="content" id="" cols="100" rows="4"></textarea>
            <br/>
            <input type="submit" value="Post" class="btn btn-primary"/>
        </form>

    {% endif %}

    <div class="all-posts">
        {% for post in allPosts %}
            <div class=" rows post">
                <h5 class="username">@{{ post.user }}</div>
                <h6 class="content">{{ post.content }}</div>
                <p class="date">{{ post.date }}</div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}